<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>
  
      <div class="picture-intro">
        <h1>
          <b>Delivering happiness in mealboxes to every doorstep.</b>
        </h1>
        <h4>Connecting Communities with Fresh, Delicious Meals through Technology and Local Expertise</h4>

      </div>

      <div class="who-we-are">
        <div class="who-we-are-image">
          <img src="/images/about hero.jpg">
        </div>
        <div class="who-we-are-text">
          <h3>
            <b>A restaurant takeout super-solution for the African users.</b>
          </h3>
          <h5>
            We are obsessed with creating a definitive food
            delivery service solution for consumers in thriving
            communities across Africa.
            <br>
            <br>
            Our team has built every piece of EatUp with
            attention and care, setting the ability to help users
            experience the happiness associated with food
            and convenience at the heart of what we do.
            <br>
            <br>
            Our vision is to give everyone easy access to food
            in their city by;
            <br>
            a. Leveraging Fast-Food Consumer Potential.
            <br>
            b. Accelerating Food Delivery Service Adoption.
            <br>
            c. Building An Inclusive Fast-Food Supply Chain.

          
          </h5>
        </div>
      </div>

      <div class="come-work">

        <div class="come-work-text">
          <h2><b>Come Work with us</b></h2>
          <a class="btn" href="https://ng.linkedin.com/company/eatupng">See open positions</a>
        </div>

        <div class="come-work-image">
          <img src="/images/Idea.svg" alt="">
        </div>

      </div>
      

      <%- include('./partials/footer.ejs') %> 
      

    </div>
   
    
  </body>
</html>