<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>
  
      <div class="picture-intro">
        <h1>
          <b>Delivering happiness in mealboxes to every doorstep.</b>
        </h1>
        <h4>Connecting Communities with Fresh, Delicious Meals through Technology and Local Expertise</h4>

      </div>

      <div class="who-we-are">
        <div class="who-we-are-image">
          <img src="/images/Eatup Biker 1.jpg">
        </div>

        <div class="who-we-are-text">
          <h3>
            <b>The Black and Yellow food brand</b>
          </h3>
          <h5>
            At EatUp Nigeria, helping you experience happiness is at the heart of what we do.
            Our purpose is to revolutionize local restaurants and deliver definitive food delivery
            solutions to consumers in thriving communities across Africa. By creating a brand
            synonymous with food delivery convenience, and operating an inclusive system
            around fast-food supply chain logistics, we help you build a happy lifestyle around
            food. Whether you are a fast-food consumer, a restaurant outfit, or logistic personnel
            in thriving local communities, we have the experience and expertise to help you.
            <br>
            <br>
            Our expertise is backed by a network of food service partners in over 20 districts and
            more than 10,000 consumers committed to helping us achieve top-quality meal
            ordering, processing, delivery, and support services. 
            <br>
            <br>
            EatUp® has a presence in 40 Nigerian communities with an office footprint
            covering 2 micro-fulfillment centers in the city of Abeokuta. With a single Africa
            leadership team and over 20 restaurant partners across regions, we serve the largest
            share of local fast-food consumers across thriving communities.
          
          </h5>
        </div>
      </div>

      <div class="come-work">

        <div class="come-work-text">
          <h2><b>Come Work with us</b></h2>
          <a class="btn" href="https://ng.linkedin.com/company/eatupng">See open positions</a>
        </div>

        <div class="come-work-image">
          <img src="/images/Idea.svg" alt="">
        </div>

      </div>
      

      <%- include('./partials/footer.ejs') %> 
      

    </div>
   
    
  </body>
</html>