<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">

      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>

      <form class="form create" id="uploadForm" enctype="multipart/form-data">

        <h3>Add Blog</h3>

        <label for=""><b>Title:</b></label>
        <input type="text" placeholder="Blog title" name="title" id="title" required>

        <label for=""><b>Image:</b></label>
        <input type="file" placeholder="Blog Image" name="image" id="image" required>

        <label for=""><b>Body:</b></label>
        <textarea name="body" placeholder="Blog body" id="body" required></textarea>


        <button class="btn">submit</button>
        

      </form>
     

      <%- include('./partials/footer.ejs') %>  
      
    </div>


    <script>

      (function postAdd(){
        "use strict"
        
        document.querySelector('#uploadForm').addEventListener("submit", async(e)=>{
          e.preventDefault();
          
          const form = document.querySelector("#uploadForm")
          const formData = new FormData(form);
          console.log(formData);

          try {
            const res = await fetch("/admin/create", {
              method: "POST",
              body: formData
            });

            const data = await res.json();
            console.log(data);
            if (data.id) {
              location.assign("/admin/home")
            }else{
              alert("Failed to upload post")
            }
          } catch (error) {
            console.log(error)

          }

        })
        
      }());
      
    </script>
    
  </body>
</html>