<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">

      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>


      <div class="topic">
        <h2><b><%= post.title %></b></h2>
        <h4><%= post.createdAt.toDateString() %></h4>
        <div class="share-link share-linkjs">
          share on 
          <span>
            <img src="/images/facebook_symbol_fill.svg" alt="facebook icon" id="fb-icon">
            <img src="/images/linkedin_symbol_fill.svg" alt="linkedIn icon" id="linkedIn-icon">
            <a><img src="/images/x_logo_fill.svg" alt="twitter icon" id="twitter-icon"></a>
          </span>
        </div>
      </div>

      <div class="blog-body">
        <div class="image-body">
          <img src="<%= post.imageUrl %>" alt="restaurant owner image">
        </div>
        <div class="content-body">
          <h5><%= post.body %></h5>
        </div>
      </div>

      <div class="blog-recent"> 
        <div class="blog-recent-post">
          <h3>Recent post</h3>

          <div class="recent-card">
            
            <%let count = 0;
              data.forEach((item)=>{
               if(item.title !== post.title && count < 3){
                  count++ %>
                  <a class="card-container" href="/<%= item._id %>">
                    <div class="card-image">
                      <img src="<%= item.imageUrl %>">
                    </div>
                    <div class="card-body">
                      <h4><%= item.title %></h4>
                      <h5><%= item.createdAt.toDateString() %></h5>
                    </div>
                  </a>
                
                <%}%>
              
              <%})
            %>;

           
          </div>
        </div>

      </div>

      <%- include('./partials/footer.ejs') %>  
    

    </div>

    
     
    
  </body>
</html>